@import 'libs/normalize.min';
@import 'libs/font';
@import 'base/variables';
@import 'base/mixins';

body {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

@media (max-width: 1199px) {
    .container {
        margin: 0 5%;
    }
}

@media (max-width: 760px) {
    .container {
        margin: 0 30px;
    }
}

@import 'blocks/content';
@import 'blocks/title';
@import 'blocks/buttons';
@import 'blocks/description';
@import 'blocks/heading';